@model Jedznaplus.Models.Recipe

@{
    ViewBag.Title = "Stwórz nowy przepis";
}

<h2>Stwórz nowy przepis</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recipe</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ingredients)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ingredients)
            @Html.ValidationMessageFor(model => model.Ingredients)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreparationMethod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreparationMethod)
            @Html.ValidationMessageFor(model => model.PreparationMethod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageUrl)
            @Html.ValidationMessageFor(model => model.ImageUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreparationTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreparationTime)
            @Html.ValidationMessageFor(model => model.PreparationTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Serves)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Serves)
            @Html.ValidationMessageFor(model => model.Serves)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Calories)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Calories)
            @Html.ValidationMessageFor(model => model.Calories)
        </div>
        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy przepisów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
