@model Jedznaplus.Models.LocalPasswordModel

<h3>Zmiana hasła</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <label>Obecne hasło</label>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <label>Nowe hasło</label>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                <label>Potwierdź nowe hasło</label>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Zmień hasło" />
    </fieldset>
}
