@model Jedznaplus.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Rejestracja";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Połaczenie z kontem @ViewBag.ProviderDisplayName.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            Pierwsza faza procesu rejestracj z wykorzystaniem konta <strong>@ViewBag.ProviderDisplayName</strong>
            powiodła się. Aby dokończyć proces rejestracji wpisz nazwę użytkownika i kliknij przycisk Zarejestuj.

        </p>
        <ol>
            <li class="name">
                <label>Nazwa użytkownika</label>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Zarejestruj" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
