@model Jedznaplus.Models.RegisterModel
@{
    ViewBag.Title = "Rejestracja";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Zarejestruj nowe konto.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                <label>Nazwa użytkownika</label>
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                <label>Hasło</label>
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                <label>Potwierdz hasło</label>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Zarejestruj" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
